.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.items-center {
  align-items: center;
}
.flex.items-end {
  align-items: end;
}
.flex.justify-center {
  justify-content: center;
}

.flex.align-bottom {
  align-items: end;
}
.flex.col {
  flex-direction: column;
}
.flex.wrap {
  flex-wrap: wrap;
}

/* Gap */
.gap {
  gap: 0.5em;
}
.gap-1 {
  gap: 1em;
}
.gap-2 {
  gap: 2em;
}
.gap-3 {
  gap: 3em;
}

/* Grow */
.grow-1 {
  flex-grow: 1;
}