* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --black: #0A0C19;
  --red: #FCC5BC;
  --green: #56A0A9;
}

html {
  font-size: 20px;
  font-family: monospace;
  color: var(--white);
  background-color: var(--black);
}

@import '../styles/text.style.css';
@import '../styles/flex.style.css';
@import '../styles/common.style.css';

img.invert {
  filter: invert(1);
}

.rounded-full {
  border-radius: 100%;
}

.error {
  color: red;
}

.w-full {
  width: 100% !important;
}

.w-min {
  width: min-content !important;
}

.w-fit {
  width: fit-content !important;
}

.w-2 {
  width: 2rem;
}
.h-2 {
  height: 2rem;
}

.border-1 {
  border: 1px solid currentColor;
}

.p-1 {
  padding: 1em;
}

.p-0 {
  padding: 0;
}

body,
main,
.page {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--white);
  color: var(--black);
}

main,
.page {
  overflow: hidden;
}