.button {
  width: 100%;
  padding: 1rem 2rem;
  
  background: var(--white);
  color: var(--black);
  font-weight: bold;
  font-size: 1em;

  border: 0;
  border-radius: 2rem;

  opacity: 0.8;

  transition: opacity 0.5s ease;

  &.primary {
    background: var(--green);
    color: var(--white);
  }
  &.secondary {
    background: var(--black);
    color: var(--white);
  }

  &[disabled],
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    opacity: 1;
  }
}