.page {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  max-width: 100%;
  padding: 8rem 2rem 1rem;

  color: var(--white);
  background: var(--black);
  overflow: hidden;

  & .logo {
    width: 4rem;
    opacity: 50%;
  }

  & .back_button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 1rem;
    width: 6rem;
    height: 6rem;
    background-color: var(--red);
    border-radius: 0 0 6rem 0;
    color: var(--black);
  }

  & .back_button_icon {
    filter: invert(1);
  }

  & .content {
    --size: 24rem;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - var(--size) / 2);
      left: calc(50% - var(--size) / 2);
      width: var(--size);
      height: var(--size);
      border-radius: 100%;
      background-color: var(--green);
    }
  }

  & .form {
    position: relative;
    z-index: 1;

    & label {
      font-size: 0.75rem;
      color: var(--black);
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    & .social_link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;

      background: var(--white);
      color: var(--black);
      border-radius: 100%;
      text-decoration: none;
    }
  }
}