* {
  margin: 0;
}

html {
  font-size: 20px;
  background-color: #f4f4f4;
}

a {
  color: black;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.error {
  color: red;
}

.flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.between {
    justify-content: space-between;
  }
}

.gap-1 {
  gap: 1rem;
}

.w-fit {
  width: fit-content !important;
}