* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  background-color: #f4f4f4;
}

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: red;
}

.flex {
  display: flex;

  &.between {
    justify-content: space-between;
  }
  &.items-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
}
.flex.col {
  flex-direction: column;
}
.flex.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1em;
}
.gap-2 {
  gap: 2em;
}
.gap-3 {
  gap: 3em;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100% !important;
}

.w-min {
  width: min-content !important;
}

.w-fit {
  width: fit-content !important;
}

.border-1 {
  border: 1px solid currentColor;
}

.text-xs {
  font-size: 0.8em;
}

.p-1 {
  padding: 1em;
}