* {
  margin: 0;
}

html {
  font-size: 20px;
  background-color: #f4f4f4;
}

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: red;
}

.flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.between {
    justify-content: space-between;
  }
  &.items-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}

.text-center {
  text-align: center;
}

.w-fit {
  width: fit-content !important;
}

.border-1 {
  border: 1px solid currentColor;
}

.p-1 {
  padding: 1rem;
}